@media (min-width: 750px) {
  .body-container {
    width: 85%;
  }

  .title h3 {
    font-size: 10pt;
    line-height: 12pt;
  }

  .upvote {
    background: url('../images/grayarrow.gif') no-repeat;
    background-size: 10px;
    margin-right: 2px;
  }

  .user-form textarea {
    font-size: 10pt;
    width: 440px;
    height: 95px;
  }
}
