.body-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4f4;
}

a,
a:link {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.d-flex {
  display: flex;
}

.align-center {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-danger {
  color: red;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.story-wrap {
  position: relative;
}

.story-wrap {
  margin-bottom: 5px;
  min-height: 20px;
}

.rank {
  float: left;
  font-size: 10pt;
  color: #828282;
  text-align: right;
}
/* 
a:visited {
  color: #828282;
  text-decoration: none;
} */

.upvote {
  float: left;
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px;
  background: url('../images/grayarrow2x.gif') no-repeat;
  background-position: center;
  margin-right: 6px;
}

.title a h3:hover {
  color: #6b5454;
}

.title h3 {
  font-size: 11pt;
  line-height: 14pt;
  font-weight: 400;
  word-break: break-all;
}

.title {
  float: left;
  font-size: 7pt;
  color: #828282;
  width: 85%;
}
.title ul li {
  display: inline-block;
  margin-right: 3px;
}

.title ul li a:hover {
  text-decoration: underline;
}

.comment-wrapper {
  padding-left: 10px;
  box-sizing: border-box;
}

.user-form {
  margin: 10px 15px;
  margin-bottom: 40px;
}

.user-form input,
.user-form textarea {
  font-family: monospace;
  font-size: 10pt;
  display: block;
}
.user-form input {
  padding: 2px 4px;
}

.user-form textarea {
  margin-bottom: 20px;
  font-size: 16px;
  width: 90%;
}

.user-comment {
  margin-bottom: 10px;
  min-height: 20px;
  position: relative;
}

.user-comment ul {
  min-height: 10px;
  margin: 3px 2px 6px;
}

.comment-text {
  color: #000000;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9pt;
}

.reply {
  text-decoration: underline;
  margin-top: 6px;
}

.comment-body {
  margin-bottom: 10px;
}

.user-sub-comment {
  margin-left: 20px;
}

.next-page {
  text-align: left;
  margin-left: 40px;
  margin-top: 20px;
  font-size: 10pt;
  color: #828282;
}

.next-page a:hover {
  color: #000000;
}

.footer {
  margin-top: 10px;
}

.footer-line {
  background-color: rgb(255, 102, 0);
  height: 2px;
}

.footer ul {
  text-align: center;
  margin-top: 15px;
  font-size: 8pt;
  color: #828282;
}

.footer ul li {
  display: inline-block;
  padding-right: 5px;
  margin-right: 5px;
}

.footer ul li a:hover {
  color: #00000086;
}

.footer ul li:not(:last-child) {
  background: url('../images/pixel.png') repeat-y;
  background-position: right;
}

.footer .user-form {
  text-align: center;
  font-size: 10pt;
  color: #828282;
}

.footer .user-form label {
  margin-right: 5px;
}

.footer .user-form input {
  display: inline-block;
}
